### Continue your exercise 25B:

- Display on the screen the list of all examinees who have the scores of mathematics (toan) or literature (ngu_van) higher than 9 in Ho Chi Minh city.
- Print to the screen the names of the 3 provinces with the most students scoring 10 in math. 
- Print to the screen names of 5 provinces with the highest average foreign language scores and the names of the 5 provinces with the lowest average foreign language scores.
- Print out the list of provinces/cities in descending order of average math scores.

In [1]:
import pandas as pd 


url = "https://raw.githubusercontent.com/anhdung98/diem_thi_2022/main/diem_thi_thpt_2022.csv"
df = pd.read_csv(url) # Lấy dữ liệu từ file work_data.csv đê phân tích và đặt tên dữ liệu đó là dataset
# df

In [2]:
df_HCM = df[df['sbd'].astype(str).str.startswith('2')]
# print(df_HCM)

### Display on the screen the list of all examinees who have the scores of mathematics (toan) or literature (ngu_van) higher than 9 in Ho Chi Minh city.

In [60]:
df_hcmMark = df_HCM[(df_HCM['toan'] > 9) | (df_HCM['ngu_van'] > 9)]
df_hcmMark[['toan', 'ngu_van']]

        toan  ngu_van
96952    9.2     6.50
97043    9.2     7.25
97058    9.4     6.75
97061    9.2     8.00
97219    9.4     5.75
...      ...      ...
552972   6.6     9.25
552998   4.8     9.25
552999   6.6     9.50
553003   7.8     9.50
553041   7.8     9.25

[6291 rows x 2 columns]

### Print to the screen the names of the 3 provinces with the most students scoring 10 in math.

In [5]:
df_toan = df[(df['toan'] == 10)]

In [6]:
# lấy mã và tên thành phố - cách 1
matinh=[(1, "THÀNH PHỐ HÀ NỘI"),(7,'TỈNH LAI CHÂU'),(12,'TỈNH THÁI NGUYÊN'),(13,'TỈNH YÊN BÁI'),(15,'TỈNH PHÚ THỌ'),(16,'TỈNH VĨNH PHÚC'),(17,'TỈNH QUẢNG NINH'),
     (18,'TỈNH BẮC GIANG'),(19,'TỈNH BẮC NINH'),(8,'TỈNH LÀO CAI'),(9,'TỈNH TUYÊN QUANG'),(10,' TỈNH LẠNG SƠN'),(2,"THÀNH PHỐ HỒ CHÍ MINH"),(14,'TỈNH SƠN LA'),
     (21,'TỈNH HẢI DƯƠNG'),(22,'TỈNH HƯNG YÊN'),(24,'TỈNH HÀ NAM'),(25,'TỈNH NAM ĐỊNH'),(26,'TỈNH THÁI BÌNH'),(28,'TỈNH THANH HÓA'),(29,'TỈNH NGHỆ AN'),(30,'TỈNH HÀ TĨNH'),
     (31,'TỈNH QUẢNG BÌNH'),(32,'TỈNH QUẢNG TRỊ'),(33,'TỈNH THỪA THIÊN - HUẾ'),(34,' TỈNH QUẢNG NAM'),(35,'TỈNH QUẢNG NGÃI'),(36,'TỈNH KON TUM'),(38,'TỈNH GIA LAI'),(39,'TỈNH PHÚ YÊN'),(40,'TỈNH ĐẮK LẮK')
     ,(41,'TỈNH KHÁNH HÒA'),(43,'TỈNH BÌNH PHƯỚC'),(45,'TỈNH NINH THUẬN'),(46,'TỈNH TÂY NINH'),(47,' TỈNH BÌNH THUẬN'),(49,'TỈNH LONG AN'),(50,'TỈNH ĐỒNG THÁP')
     ,(51,'TỈNH AN GIANG'),(53,'TỈNH TIỀN GIANG'),(54,'TỈNH KIÊN GIANG'),(55,'THÀNH PHỐ CẦN THƠ'),(56,'TỈNH BẾN TRE'),(57,'TỈNH VĨNH LONG'),(58,'TỈNH TRÀ VINH'),(59,'TỈNH SÓC TRĂNG'),(60,'TỈNH BẠC LIÊU')
     ,(61,' TỈNH CÀ MAU'),(62,'TỈNH ĐIỆN BIÊN'),(63,'TỈNH ĐĂK NÔNG'),(64,'TỈNH HẬU GIANG'),
     (11,'TỈNH BẮC KẠN'),(42,'TỈNH LÂM ĐỒNG'),(37,'TỈNH BÌNH ĐỊNH'),(23,'TỈNH HÒA BÌNH'),(48,'TỈNH ĐỒNG NAI'),(52,'TỈNH BÀ RỊA – VŨNG TÀU'),(44,'TỈNH BÌNH DƯƠNG'),
     (3,'THÀNH PHỐ HẢI PHÒNG'),(4,'THÀNH PHỐ ĐÀ NẴNG'),(5,'TỈNH HÀ GIANG'),(6,'TỈNH CAO BẰNG'),(27,'TỈNH NINH BÌNH')]

In [7]:
# lấy mã và tên thành phố - cách 2 - dataframe
c = []

with open('city.csv', 'r',  encoding="utf8") as reading:
    file_input = reading.read().split('\n')

for row in file_input:
    c.append(row.split(' - '))

df_city = pd.DataFrame(c, columns=['code', 'city'])
df_city

   code                   city
0     1       THÀNH PHỐ HÀ NỘI
1     2  THÀNH PHỐ HỒ CHÍ MINH
2     3    THÀNH PHỐ HẢI PHÒNG
3     4      THÀNH PHỐ ĐÀ NẴNG
4     5          TỈNH HÀ GIANG
..  ...                    ...
58   60          TỈNH BẠC LIÊU
59   61            TỈNH CÀ MAU
60   62         TỈNH ĐIỆN BIÊN
61   63          TỈNH ĐĂK NÔNG
62   64         TỈNH HẬU GIANG

[63 rows x 2 columns]

In [18]:
# cách 1: dùng dataframe
def take_name1(so):
    for i in df_city.code:
        if int(i) == so:
            return df_city.city.iloc[int(i)-1]
# i - 1 do iloc tình từ vị trí 0

In [8]:
# cách 2: dùng array
def take_name(so):
    for (i,name) in matinh:
        if i == so:
            return name

In [20]:
math10 = []
for i in range(1,65):
#     Create a data frame df_HCM containing the list of
#     examinees at Ho Chi Minh City Examination Council, whose first 2 digits of the
#     registration number (sbd) are i
  local_DF= df[df.sbd // 1000000==i]
  sl = len(local_DF[local_DF.toan ==10])
  math10.append((i,sl))

top3=sorted(math10, key=lambda el: el[1])[-3:]
for (i,sl) in reversed(top3):
  ten_tinh= take_name1(i)
  print(f'{ten_tinh}:{sl}')

THÀNH PHỐ HỒ CHÍ MINH:6
THÀNH PHỐ HÀ NỘI:6
TỈNH NGHỆ AN:3

### Print to the screen names of 5 provinces with the highest average foreign language scores and the names of the 5 provinces with the lowest average foreign language scores.

In [10]:
def average_ngoaingu():
  result = []
  for i in range(1,65):
    local_DF = df[df.sbd //1000000==i]
    average_grade=local_DF['ngoai_ngu'].mean()
    result.append((i,average_grade))
  return sorted(result,key = lambda el: el[1])

In [11]:
def top5_lowest_greatest_ngoaingu():
    sort_ngoaingu=average_ngoaingu()
    top5_lowest_greatestt=sort_ngoaingu[:5]+sort_ngoaingu[-5:]

    for (index,(i,sl)) in enumerate(top5_lowest_greatestt):
      if index ==0:
        print("top lowest:")
      if index ==5:
        print("top greatest:")
      ten_tinh = take_name(i)
      print(f'{ten_tinh}:{round(sl,3)}')

In [12]:
top5_lowest_greatest_ngoaingu()

top lowest:
TỈNH HÀ GIANG:3.79
TỈNH SƠN LA:4.03
TỈNH CAO BẰNG:4.202
TỈNH BẮC KẠN:4.205
TỈNH HÒA BÌNH:4.247
top greatest:
TỈNH LÂM ĐỒNG:5.302
TỈNH BÌNH ĐỊNH:5.31
TỈNH ĐỒNG NAI:5.344
TỈNH BÀ RỊA – VŨNG TÀU:5.838
TỈNH BÌNH DƯƠNG:6.254

### Print out the list of provinces/cities in descending order of average math scores.

In [57]:
def average_toan():
  result = []
  for i in range(1,65):
    local_DF = df[df.sbd //1000000==i]
    average_grade=local_DF['toan'].mean()
    result.append((i,average_grade))
  return sorted(result,key = lambda el: el[1], reverse=True)

In [58]:
def all_average_math():
    sort_toan=average_toan()
    for (index,(i,sl)) in enumerate(sort_toan):
        ten_tinh = take_name(i)
        print(f'{ten_tinh}:{round(sl,3)}')

In [59]:
all_average_math()

TỈNH BÌNH DƯƠNG:7.145
THÀNH PHỐ HỒ CHÍ MINH:7.057
None:nan
TỈNH NAM ĐỊNH:7.402
TỈNH NINH BÌNH:6.999
TỈNH THÁI BÌNH:6.997
TỈNH HÀ NAM:6.981
TỈNH VĨNH PHÚC:6.92
THÀNH PHỐ HẢI PHÒNG:6.916
TỈNH BẮC NINH:6.875
TỈNH TIỀN GIANG:6.821
THÀNH PHỐ HÀ NỘI:6.766
THÀNH PHỐ ĐÀ NẴNG:6.75
TỈNH BÀ RỊA – VŨNG TÀU:6.729
TỈNH HẢI DƯƠNG:6.705
TỈNH BẠC LIÊU:6.678
TỈNH LONG AN:6.677
TỈNH BÌNH ĐỊNH:6.629
TỈNH HƯNG YÊN:6.627
TỈNH LÂM ĐỒNG:6.617
TỈNH HÀ TĨNH:6.548
TỈNH VĨNH LONG:6.539
TỈNH AN GIANG:6.533
TỈNH BẾN TRE:6.506
TỈNH THỪA THIÊN - HUẾ:6.491
THÀNH PHỐ CẦN THƠ:6.487
TỈNH ĐỒNG THÁP:6.485
TỈNH BẮC GIANG:6.469
TỈNH PHÚ THỌ:6.446
TỈNH TÂY NINH:6.426
TỈNH KHÁNH HÒA:6.423
 TỈNH BÌNH THUẬN:6.393
TỈNH QUẢNG NGÃI:6.382
 TỈNH QUẢNG NAM:6.355
TỈNH NGHỆ AN:6.319
TỈNH KON TUM:6.296
TỈNH ĐỒNG NAI:6.293
TỈNH BÌNH PHƯỚC:6.232
TỈNH LÀO CAI:6.228
TỈNH PHÚ YÊN:6.224
TỈNH QUẢNG TRỊ:6.2
 TỈNH CÀ MAU:6.176
TỈNH THANH HÓA:6.08
TỈNH GIA LAI:6.045
TỈNH NINH THUẬN:6.038
TỈNH ĐĂK NÔNG:6.017
TỈNH KIÊN GIANG:6.002
TỈNH QUẢNG NINH:5.934
TỈNH QUẢNG BÌNH:5.931
TỈNH SÓC TRĂNG:5.922
TỈNH THÁI NGUYÊN:5.922
TỈNH HẬU GIANG:5.868
TỈNH ĐẮK LẮK:5.863
TỈNH LAI CHÂU:5.816
TỈNH TUYÊN QUANG:5.79
TỈNH TRÀ VINH:5.745
TỈNH YÊN BÁI:5.622
TỈNH BẮC KẠN:5.552
 TỈNH LẠNG SƠN:5.53
TỈNH ĐIỆN BIÊN:5.481
TỈNH HÒA BÌNH:5.342
TỈNH SƠN LA:5.287
TỈNH CAO BẰNG:5.173
TỈNH HÀ GIANG:4.697